[Unit]
Description=FoodBot Essensanmeldung
After=network.target

[Service]
Type=simple
User=brunsben
WorkingDirectory=/home/brunsben/FoodBot
Environment="PATH=/home/brunsben/FoodBot/venv/bin:/usr/bin:/usr/local/bin"
ExecStart=/home/brunsben/FoodBot/venv/bin/gunicorn -c /home/brunsben/FoodBot/app/gunicorn_config.py wsgi:app
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
